
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("experiment/simulation/images/background2.png");
}

.container{
    display: flex;
}

.slider1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 189, 186);
    height: 380px;
    /* border-radius: 2px; */
    width: 65%;
    margin-right: 40px;
    border:2px solid black;
    margin-top:10px ;
    margin-left: 12px;
    /* margin-top: 0px; */
}

.control-container{

    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
}

.control-grp{
    display: flex;
    width: 65%;
    justify-content: space-between;
    
}

.control-grp span {
    font-size: 17px;
}
.btn{
    /* text-align: center; */
    margin-left: 800px;
}
.buttons{
    
    border-radius: 4px;
    background-color: #2e2d30;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    padding: 20px;
    width: 50px;
    height: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    
}
.buttons:hover {background-color: #e91349}
.heading{
    /* background-color: rgba(236, 69, 39, 0); */
    /* background-color: rgb(214, 19, 61); */
    height: 50px;
    margin-top: 5px;
}
#svgimg{
    justify-content: center;
}
.slider2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 189, 186);
    height: 254px;
    /* border-radius: 2px; */
    width: 80%;
    margin: 2px;
    border:2px solid black;
    /* margin-top: 0px; */
    /* padding-left: 7px; */
    /* margin-left: 10px; */
    margin-top: 60px;
    /* margin-right: 90px; */
}
.buttons1{
    margin: auto;
    width: 84px;
    margin-top:12px ;
    border-radius: 4px;
    background-color: #2e2d30;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    /* padding: 20px; */
    /* width: 50px; */
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 2px; */
}
.buttons1:hover {background-color: #e91349}
ul li{
    list-style-type: none;
}
.slider12{

    display: flex;
    flex-direction: column;
    background-color: rgb(163, 189, 186);
    height: 280px;
    /* border-radius: 2px; */
    width: 30%;
    margin: 2px;
    border:2px solid black;
    margin-top: 10px;
     
}
.slider22 { 
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 189, 186);
    height: 254px;
    /* border-radius: 2px; */
    width:45%;
    margin: 2px;
    height: 500px;
    border:2px solid black;
    /* margin-top: 0px; */
    padding-left: 7px;
     margin-left:  10px; ;
     margin-top: 30px;
     margin-right: 40px;
}
.shiksha nav li {
list-style-type: circle;
/* float: left; */
margin: 20px;
}
.shiksha{
    height: 300px;
    margin-left: 300px;
    margin-top: 40px;
}

.shiksha nav li a {
    text-decoration: none;
    color: rgb(221, 15, 15);
    font-size:30px;

}
